  <html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

function drawChart() {
      var jsonData = $.ajax({
          url: "/pings",
          dataType: "json",
          async: false
          }).responseJSON;
          

        var options = {
          title: 'Pings',
          curveType: 'line',
          legend: { position: 'bottom' },
          vAxes: {0: {
                      gridlines: {color: 'transparent'},
                      },
                  1: {gridlines: {color: 'transparent'},
                      format:"0.0%",
                      viewWindow: {min:0}},
                  },
          series: {0: {targetAxisIndex:0},
                   1:{targetAxisIndex:0},
                   2:{targetAxisIndex:0},
                   3:{targetAxisIndex:1},
                   4:{targetAxisIndex:0}
                  }
        };

        jsonData.rows = jQuery.map(jsonData.rows, function(val) {
          val.c[0].v = new Date(val.c[0].v * 1000);
          return val;
        });

        var data = new google.visualization.DataTable(jsonData);
       
           // use a DataView to calculate an x-day moving average
    var days = 60;
    
    function rollingAverage(colIndex, rollPeriod, dt, row) {
        // calculate average of closing value for last x days,
        // if we are x or more days into the data set
        if (row >= rollPeriod - 1) {
            var total = 0;
            for (var i = 0; i < rollPeriod; i++) {
                total += dt.getValue(row - i, colIndex);
            }
            var avg = (1.0 * total) / rollPeriod;
            return {v: avg, f: avg.toFixed(2)};
        }
        else {
            // return null for < x days
            return null;
        }
    }
    
    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1, 2, 3, {
        type: 'number',
        label: days + '-min packet drop average',
        calc: function (dt, row) {
            // calculate average of closing value for last x days,
            // if we are x or more days into the data set
            if (row >= days - 1) {
                var total = 0;
                for (var i = 0; i < days; i++) {
                    total += 10 - dt.getValue(row - i, 4);
                }
                var avg = (1.0 * total) / days;
                return {v: avg, f: avg.toFixed(2)};
            }
            else {
                // return null for < x days
                return null;
            }
        }},
        {
          type: 'number',
          label : days + "-min median ping",
          calc: function (dt, row) {
            return rollingAverage(2, days, dt, row);
          }
        }
        ]);
       
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(view, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 100%; height: 100%"></div>
  </body>
</html>