  <html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

function drawChart() {
      var jsonData = $.ajax({
          url: "/pings",
          dataType: "json",
          async: false
          }).responseJSON;
          

        var options = {
          title: 'Pings',
          curveType: 'line',
          legend: { position: 'bottom' }
        };

        jsonData.rows = jQuery.map(jsonData.rows, function(val) {
          val.c[0].v = new Date(val.c[0].v * 1000);
          return val;
        });

        var data = new google.visualization.DataTable(jsonData);
       
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>